body{
	font-family: Segoe UI;
}

.taksbar{
	color: #56BBB1;
	position: fixed;
	width: 1366px;
	height: 70px;
	left: 0px;
	top: 0px;
}

.kotakmasuk{
	text-align: center;
	background: #676060;
	width: 1190px;
	height: 700px;
	margin: 50px;
	padding: 20px 18px;
	border-radius: 30px;
	font-size: 15pt;
	position: absolute;
	top: 35px;
}

.Daftar{
	text-align: center;
	font-size: 18pt;
}

.label{
	font-size: 11pt;
	font-family: Segoe UI;
}

.first{
	box-sizing: border-box;
	width: 30%;
	height: 30%;
	padding: 4px;
	font-size: 12pt;
	margin-bottom: 25px;
	border-radius: 6px;
	font-family: Segoe UI;
}

.last{
	box-sizing: border-box;
	width: 30%;
	height: 30%;
	padding: 4px;
	font-size: 12pt;
	margin-bottom: 25px;
	border-radius: 6px;
	font-family: Segoe UI;
}

.mail{
	box-sizing: border-box;
	width: 30%;
	height: 30%;
	padding: 4px;
	font-size: 12pt;
	margin-bottom: 25px;
	border-radius: 6px;
	font-family: Segoe UI;
}

.no{
	box-sizing: border-box;
	width: 30%;
	height: 30%;
	padding: 4px;
	font-size: 12pt;
	margin-bottom: 25px;
	border-radius: 6px;
	font-family: Segoe UI;
}

.Password{
	box-sizing: border-box;
	width: 30%;
	height: 30%;
	padding: 4px;
	font-size: 12pt;
	margin-bottom: 25px;
	border-radius: 6px;
	font-family: Segoe UI;
}

.join{
	width: 200px;
	height: 50px;
	background: #2B9B36;
	font-size: 12pt;
	font-family: Segoe UI;
	margin: 70px;
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333

}

ul {
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 18px;
  text-decoration: none;
  font-size: 17pt;
}