body{
  
  font-family: Segoe UI;
  background : #56BBB1;

}
.taksbar{
  color: #56BBB1;
  position: fixed;
  width: 1366px;
  height: 70px;
  left: 0px;
  top: 0px;

}

.kotakabu{
  background : #D9D7D7;
  position: fixed;
  width: 100%;
  height: 10%;
  left: 0px;
  top: 58px;
}

.tutor{
  position: absolute;
  left: 28%;
  top: 7%;
  font-family: Sitka Small;
  font-size: 30px;
  font-weight: bold;
  font color: black;
}

.list{
	margin-left: 50px;
	font-family: Segoe Script;
}


.abu{
  background : #959595;
  position: absolute;
  width: 1000px;
  height: 450px;
  left: 15%;
  top: 30%;
  border-radius: 15px;
}

.tutorial{
  text-align: center;
  font-size: 25px;
  font-family: Segoe Script;
  font-weight: bold;
}

div a{
  list-style: none;
}


ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333

}

ul {
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 18px;
  text-decoration: none;
  font-size: 17pt;
}