body{
	font-family: Segoe UI;
	background : #56BBB1;
}

.taksbar{
	color: #56BBB1;
	position: fixed;
	left: 0px;
	top: 0px;
}

.kotak{
	background : #D9D7D7;
	position: absolute;
	width: 1200px;
	height: 450px;
	left: 80px;
	top: 90px;
	border-radius: 15px;
}

.judul{
	position: absolute;
	left: 27%;
	top: 5%;
	font-family: Copperplate Gothic;
	font-weight: bold;
	font-size: 25px;
}

img{
	width :100px;
	height: 100px;

}

.html{
	position: absolute;
	top: 30%;
	left: 20%;
}

.python{
	position: absolute;
	top: 30%;
	left: 47%;
}

.java{
	position: absolute;
	top: 30%;
	left: 75%;
}

.js{
	position: absolute;
	top: 65%;
	left: 20%;
}

.cp{
	position: absolute;
	top: 65%;
	left: 47%;
}

.css{
	position: absolute;
	top: 65%;
	left: 75%;
}

.a{
	position: absolute;
	top: 54%;
	left: 22%;
	font-size: 17px;
	font-color: black;
	font-weight: bold;
	font-family: Sitka Small;
}

.b{
	position: absolute;
	top: 54%;
	left: 48%;
	font-size: 17px;
	font-color: black;
	font-weight: bold;
	font-family: Sitka Small;
}
.c{
	position: absolute;
	top: 54%;
	left: 77.5%;
	font-size: 17px;
	font-color: black;
	font-weight: bold;
	font-family: Sitka Small;
}
.d{
	position: absolute;
	top: 89%;
	left: 19.5%;
	font-size: 17px;
	font-color: black;
	font-weight: bold;
	font-family: Sitka Small;
}
.e{
	position: absolute;
	top: 89%;
	left: 49%;
	font-size: 17px;
	font-color: black;
	font-weight: bold;
	font-family: Sitka Small;
}
.f{
	position: absolute;
	top: 89%;
	left: 78%;
	font-size: 17px;
	font-color: black;
	font-weight: bold;
	font-family: Sitka Small;
}
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;

}

ul {
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 18px;
  text-decoration: none;
  font-size: 17pt;
}