body{
  
  font-family: Segoe UI;
  background : #56BBB1;

}
.taksbar{
  color: #56BBB1;
  position: fixed;
  width: 1366px;
  height: 70px;
  left: 0px;
  top: 0px;

}

.kotakabu{
  background : #D9D7D7;
  position: absolute;
  width: 100%;
  height: 10%;
  left: 0px;
  top: 58px;
}

.mari{
  	position: absolute;
  	left: 36%;
  	top: 7%;
  	font-family: Sitka Small;
  	font-size: 30px;
  	font-weight: bold;
  	font color: black;
}

.mengenal{
	position: absolute;
  	left: 40%;
  	top: 18%;
  	font-family: Berlin Sans FB;
  	font-size: 25px;	
  	font color: black;
}

.html{
  position: absolute;
  left: 10%;
  top: 26%;
  font-family: Berlin Sans FB;
  font-size: 20px;	
  font color: black;
  width: 1100px;
}

.adapun{
	position: absolute;
  	left: 10%;
  	top: 35%;
  	font-family: Berlin Sans FB;
  	font-size: 20px;	
  	font color: black;
  	width: 1100px;
}

.untuk{
	position: absolute;
  	left: 10%;
  	top: 45%;
  	font-family: Berlin Sans FB;
  	font-size: 20px;	
  	font color: black;
  	width: 1100px;
}

.contoh{
	position: absolute;
  	left: 10%;
  	top: 58%;
  	font-family: Berlin Sans FB;
  	font-size: 20px;	
  	font color: black;
  	width: 1100px;
}

.a{
	position: absolute;
	left: 25%;
	top: 65%;
}

.berikut{
	position: absolute;
  	left: 10%;
  	top: 105%;
  	font-family: Berlin Sans FB;
  	font-size: 20px;	
  	font color: black;
  	width: 1100px;
}

.b{
	position: absolute;
  	left: 10%;
  	top: 115%;
  	font-family: Berlin Sans FB;
  	font-size: 20px;	
  	font color: black;
  	width: 1100px;
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333

}

ul {
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 18px;
  text-decoration: none;
  font-size: 17pt;
}